<mat-drawer-container class="dashboard-container">
  <mat-drawer mode="side" opened class="sidenav">
    <mat-nav-list>
      <div
        mat-list-item
        class="nav-item"
        routerLink="/home"
        [ngClass]="{ selected: selected === 'home' }"
        (click)="onSelect('home')"
      >
        <mat-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </div>

      <div
        mat-list-item
        class="nav-item"
        routerLink="/home/analysis"
        [ngClass]="{ selected: selected === 'analysis' }"
        (click)="onSelect('analysis')"
      >
        <mat-icon>analytics</mat-icon>
        <span class="nav-text">Analysis</span>
      </div>

      <div
        class="nav-item-disabled"
        mat-list-item
        disabled
        matTooltip="Coming Soon!"
      >
        <mat-icon>cloud_upload</mat-icon>

        <span class="nav-text">Saved Resumes</span>
      </div>

      <div
        class="nav-item-disabled"
        mat-list-item
        disabled
        matTooltip="Coming Soon!"
      >
        <mat-icon>description</mat-icon>
        <span class="nav-text">Saved JDs</span>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <div class="page-layout">
      <div class="router-content">
        <router-outlet></router-outlet>
      </div>

      <footer class="footer">
        <div class="footer-content">
          © {{ currentYear }} Resume Coach AI · Made with ❤️ by Varun Iyer
        </div>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
